#login_status{
    color: #dd0000;
}

#twofapi-choose{
    display: none;
}

#twofapi-choose > p {
    margin-bottom: 18px !important;
    font-size: 1.2em;
}

.button-div{
    width: 100%;
    clear: both;
}

.button-div .button{
    width: 100%;
    margin-bottom: 10px;
}

.clear-row{
    clear: both;
    font-weight: bold;
}

#twofapi-show-codebox{
    display: none;
}

#twofapi-show-input-link{
    margin-bottom: 10px !important;
}

#twofapi-qr-show{
    display: none;
}

#twofapi-qr-show{
    font-weight: bold;
    font-size: 1.15em;
    width: 100%;
}

#twofapi-show-check-link{
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

#twofapi-show-sms-check{
    display: none;
}

#twofapi-show-sms-check .twofapi_check{
    font-weight: bold;
    font-size: 1.3em;
}

.sms-msg{
    margin-bottom: 10px;
}