.form-group {
    margin-bottom: 15px;
}

label {
    font-family: "Verdana";
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}
.form-control {
    font-size: 13px;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0);
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
}

.home_cell_num{
    margin-bottom: 10px;
    font-size: 1.3em;
    font-weight: bold;
}

#remember_text{
    font-size: 1em;
    font-weight: normal;
}
